header {
  background-color: black;
  padding-top: 40px
}
header h1 {
  font-size: 40px
}
/* left these sepererate for font size*/
header h1,h2 {
  text-align: center;
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  height: 10px;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/*end intro text header*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p,ul /* kept away from ol due to padding */,hr {
  display: flex;
  flex-direction: row;
  font-family: 'Courier New', Courier, monospace;
  color: gainsboro;
  text-align: center;
  list-style-position: inside;
  padding-left: 10%;
  padding-right: 10%;
}
ol,a {
  font-family: 'Courier New', Courier, monospace;
  color: gainsboro;
  text-align: center;
  padding-left: 45%;
  padding-right: 52%;
}
/*hr created for styling, don't edit*/
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 5px;
  width: 50%
}
footer {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: gainsboro;
  background-color: gray;
  padding: 5%;
}
/*Pseudo*/
a:hover {
  color: #00FF00;
}
a:active {
  color: #0000ff;
}
.group {
  display: flex;
  flex-direction: row; /* or column */
}
